/* Make posts wider on large screens */
/*Source: https://github.com/fgimian/fgimian.github.io/blob/source/blog/static/css/custom.css*/ 

/* --- General --- */

/*Size of title*/
.intro-header .page-heading h1 {
  font-size: 300%;
}

/* Main post body */
body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 200%;
  line-height: 1.5;
  color: #5b5b5b;
  background: #f9f9f9;
}

/* Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin-bottom: 20px;
  color: #5b5b5b;
}


/* Links */
a {
  color: #5b5b5b;
}

a:hover,
a:focus {
  color: #003366;
}

/* Make posts wider on large screens */
@media (min-width: 1200px) {
  .col-lg-8 {
    width: 99%;
  }

  .col-lg-offset-2 {
    margin-left: 0.5%;
  }
}

/* Selected text and images */
::-moz-selection {
  color: white;
  background: #003366;
}

::selection {
  color: white;
  background: #003366;
}

/* --- Navbar --- */

/* Navbar strip */
.navbar-custom {
  background: #cce5ff;
}

/* Navbar link items and heading */
.navbar-custom .navbar-brand,
.navbar-custom .nav li a {
  font-weight: bolder;
  font-size: 1.25em;
  color: #5b5b5b;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus ,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #003366;
}

/* Align the left and right padding of the navbar */
.navbar-custom .container-fluid {
  padding-left: 25px;
  padding-right: 25px;
}

/* --- Footer --- */

/* Footer strip */
footer {
  background: #cce5ff;
}

/* Footer links */
footer a {
  color: #5b5b5b;
}

footer a:hover,
footer a:focus {
  color: #003366;
}